.card {
    width: 1000px;

    background-color: #1B1D1F;
    border-radius: 10px;
    min-height: 400px;
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.card p {
    width: 500px;
    text-align: center;
    margin-top: 10px;
    color: #6F757C;
    z-index: 10;

}
.card h3{
    color: #FEF7EE;
    font-size:30px;
    z-index: 10;
}
.card> div{
    margin-top: 40px;
}
.card button {
    border-radius: 10px;
    color:#FEF7EE ;
    border: none;
    padding: 10px;
    background-color: inherit;
    margin: 4px;
    cursor: pointer;


}
.card>img{
    position: absolute;
    top: 20px;
    right: 250px;

}

.active {
    background-color: #6F757C !important;

}